---
import MainLayout from "../../layouts/MainLayout.astro";
import { getAllBlogs } from "../../lib/content.js";

export async function getStaticPaths() {
  const blogs = await getAllBlogs();
  return blogs.map((blog) => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}

const { blog } = Astro.props;
---

<MainLayout title={blog.title}>

<section class="section">

<div class="container">

<h1>
{blog.title}
</h1>

<p style="color:#888;">
{blog.date}
</p>

<br>

<img
src={blog.image}
class="detail-image"
alt={blog.title}>

<br><br>

<p>
{blog.content}
</p>

</div>

</section>

</MainLayout>
