---
const { cow } = Astro.props;
const adoptLink = `https://wa.me/919448604890?text=${encodeURIComponent(
`🙏 Kamadenu Goushala

I would like to adopt and support:
🐄 ${cow.name}

Please guide me with monthly adoption details.`
)}`;
---

<div class="card">

<img src={cow.image} alt={cow.name}>

<div class="card-body">

<h3 class="card-title">
{cow.name}
</h3>

<p>
Age: {cow.age}
</p>

<p>
Breed: {cow.breed}
</p>

<p>
Status: {cow.status}
</p>

<p style="font-size:14px; color:#666;">
{cow.description}
</p>

<br>

<br>

<div class="cow-card-actions">
<a href={`/cows/${cow.slug}`} class="btn btn-outline">
Know more
</a>

<a
href={adoptLink}
target="_blank"
class="btn btn-primary">

Adopt Cow

</a>
</div>

</div>
