---
import { getCollection, render } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");
  return blogs.map((blog) => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}

const { blog } = Astro.props;
const { Content } = await render(blog);
---

<MainLayout title={blog.data.title}>
  <section class="section">
    <div class="container">
      <h1>{blog.data.title}</h1>
      <p style="font-size:14px; color:#888; margin-top:8px;">
        {blog.data.author} | {blog.data.date.toLocaleDateString("en-IN", {
          day: "2-digit",
          month: "long",
          year: "numeric",
        })}
      </p>

      <br />

      <img src={blog.data.cover_image} class="detail-image" alt={blog.data.title} />

      <br /><br />

      <Content />
    </div>
  </section>
</MainLayout>
