---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

const blogs = [...(await getCollection("blogs"))].sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<MainLayout title="Blogs">
  <section class="section">
    <div class="container">
      <h1 class="section-title">Blogs</h1>

      <div class="grid">
        {blogs.map((blog) => (
          <article class="card">
            <img src={blog.data.cover_image} alt={blog.data.title} />
            <div class="card-body">
              <h2 class="card-title">{blog.data.title}</h2>
              <p style="font-size:14px; color:#888;">
                {blog.data.author} | {blog.data.date.toLocaleDateString("en-IN", {
                  day: "2-digit",
                  month: "short",
                  year: "numeric",
                })}
              </p>
              <br />
              <a href={`/blogs/${blog.slug}`} class="btn btn-outline">Read More</a>
            </div>
          </article>
        ))}
      </div>
    </div>
  </section>
</MainLayout>
