---
import MainLayout from "../../layouts/MainLayout.astro";
import { getAllCows } from "../../lib/content.js";

export async function getStaticPaths() {
  const cows = await getAllCows();
  return cows.map((cow) => ({
    params: { slug: cow.slug },
    props: { cow },
  }));
}

const { cow } = Astro.props;
---

<MainLayout title={cow.name}>

<section class="section">

<div class="container">

<div class="detail-grid">

<div>

<img
src={cow.image}
class="detail-image"
alt={cow.name}>

</div>


<div>

<h1>
{cow.name}
</h1>

<p>
Age: {cow.age}
</p>

<p>
Breed: {cow.breed}
</p>

<p>
Status: {cow.status}
</p>

<br>

<p>
{cow.story}
</p>

<br>

<a
href="https://rzp.io/l/abc123"
target="_blank"
class="btn btn-primary">

Sponsor this Cow

</a>

</div>


</div>

</div>

</section>

</MainLayout>
